<template>
  <slot name="header" :headerdata="headerData">
    <div>
      {{ headerData }}
    </div>
  </slot>

  <slot name="body">
    <div>body</div>
  </slot>

  <slot name="footer">
    <footer>footer</footer>
  </slot>
</template>

<script>
export default {
  data: () => ({
    headerData: 'lorem ipsum dolor sit amet',
  }),
};
</script>

<style scoped>

</style>
