<template>
  <ul>
    <li
      v-for="(item, i) in list"
      :key="i"
    >
      {{ i + 1 }}. {{ item }}
      <button @click="$emit('delete', i)"> delete </button>
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    list: {
      type: Array,
      default: () => ([1, 2]),
    },
    data: {
      type: String,
      default: 'default',
    },
  },
};
</script>

<style scoped>
</style>
