<template>
  <h1>TODO</h1>
  <input
    type="text"
    v-model="text"
  >
  <button @click="add">add</button>
  <button @click="list.pop()">delete</button>

  <br>
  <h2>Slots example</h2>
  <slot-example>
    <template v-slot:header="slotProps">
      <div>{{ slotProps.headerdata }}</div>
    </template>

    <template v-slot:body>
      <div>body slot</div>
    </template>

    <template v-slot:footer>
      <div>footer slot</div>
    </template>
  </slot-example>

  <br>
  <Test
    :list="list"
    data="test prop"
    class="custom-bg"
    @delete="removeItem"
  />
</template>

<script>
import Test from '@/components/Test.vue';
import SlotExample from '@/components/slot-example.vue';

export default {
  data: () => ({
    list: [],
    text: '',
  }),

  methods: {
    add() {
      this.list.push(this.text);
    },
    removeItem(i) {
      this.list.splice(i, 1);
    },
  },

  computed: {
    list2() {
      return this.list.filter((_, i) => (i + 1) % 2 === 0);
    },
  },

  components: {
    SlotExample,
    Test,
  },

  watch: {
    text(newValue, oldValue) {
      console.log('newValue: ', newValue, 'oldValue: ', oldValue);
    },
    'list.length': function (currentValue) {
      console.log(currentValue);
    },
  },
};
</script>

<style>
body {
  background-color: #363535;
  color: white;
}

</style>
